<html>
  <head>
    <link href="/assets/application.css" type="text/css" rel="stylesheet">
  </head>
  <body>
    <nav>
      <a href="/">🤖</a> <a href="/">Application</a>|<a href="/team">Team</a>|<a href="/gem">Gem</a>
    </nav>
    <%= yield %>
  </body>
</html>
