<html>
  <head>
    <title>Dependapanda</title>
    <link href="/assets/application.css" type="text/css" rel="stylesheet">
    <link rel="icon" type="image/png" href="/assets/favicon.png" />
  </head>
  <body>
    <nav>
      <a href="/">Application</a>  |  <a href="/team">Team</a>  |  <a href="/gem">Gem</a>
      <span class="stats">PRs opened: <%= @pull_request_count %></span>
    </nav>
    <%= yield %>
  </body>
</html>
