* {
  box-sizing: border-box;
}

body {
  font-family: ntatabularnumbers, nta, sans-serif;
  background: black;
}

nav {
  margin: 0 40px;
  padding: 15px;
  font-size: 1.5em;
  font-weight: bold;
}

nav a, nav a:visited {
  color: #ccc;
  text-decoration: none;
}

.feedback {
  float: right;
  font-size: 1em;
}

.apps {
  font-size: 1.2em;
  list-style: none;
  margin: 0 37px;
  padding: 0;
}

.app {
  background: #333;
  color: white;
  margin-bottom: 10px;
  min-height: 100px;
  padding: 10px 20px;
  position: relative;
}

.app: after {
  clear: both;
  content: '';
  display: block;
}

.app h2, .app p {
  margin: 0;
}

a {
  color: white;
  text-decoration: none;
}

.time-elapsed {
  float: right;
  font-size: 0.75em;
  margin-left: 30px;
  white-space: nowrap;
}

.pulls {
  list-style: none;
  margin-bottom: 10px;
  padding: 0;
}

.pull {
  margin: 10px 0;
  line-height: 1.25em;
}

.pull a {
  font-size: 0.9em;
}

.warning {
  color: red;
}

h2 {
  color: white;
  font-size: 1.3em;
  font-weight: normal;
  margin-bottom: 10px;
}

.pull-request-status {
  color: #777;
}
