* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: ntatabularnumbers, nta, sans-serif;
  background: black;
  min-height: 500px;
}

nav {
  margin: 0 40px;
  padding: 15px;
  font-size: 1.5em;
  font-weight: bold;
}

footer {
  font-size: 0.90em;
  text-align: center;
}

footer a, footer a:visited {
  color: #999;
}

nav a, nav a:visited {
  color: #ccc;
  text-decoration: none;
}

.security-alerts-link {
  float: right;
  font-size: 1em;
}

.apps {
  font-size: 1.2em;
  list-style: none;
  margin: 0 37px;
  padding: 0;
}

.app {
  background: #333;
  color: white;
  margin-bottom: 10px;
  min-height: 100px;
  padding: 10px 20px;
  position: relative;
}

.app: after {
  clear: both;
  content: '';
  display: block;
}

.app h2, .app p {
  margin: 0;
}

a {
  color: white;
  text-decoration: none;
}

.time-elapsed {
  float: right;
  font-size: 0.75em;
  margin-left: 30px;
  white-space: nowrap;
}

.pulls {
  list-style: none;
  margin-bottom: 10px;
  padding: 0;
}

.pull {
  margin: 10px 0;
  line-height: 1.25em;
}

.pull a {
  font-size: 0.9em;
}

.warning {
  color: red;
}

h2 {
  color: white;
  font-size: 1.3em;
  font-weight: normal;
  margin-bottom: 10px;
}

h2.security-alert-title {
  color: #735c0f;
  display: inline;
  font-weight: bold;
  margin-left: 5px;
}

.security-alerts {
  margin-top: 15px;
  padding: 0;
}

.security-apps {
  margin: 0 45px;
}

.security-app {
  background-color: #fffbdd;
  border-radius: 10px;
  color: #735c0f;
  list-style-type: none;
  padding: 20px 10px 10px;
  margin: 10px;
}

.pull-request-status {
  color: #777;
}

.criticality-low {
  color: green;
}

.criticality-medium {
  color: yellow;
}

.criticality-high {
  color: red;
}

.alert {
  list-style-type: none;
  margin: 0 0 12px 27px;
}

.alert-details li {
  list-style-type: none;
}

.alert-icon {
  display: inline-block;
}

.alert-details-gem h4 {
  margin-bottom: 4px;
  text-decoration: underline;
}

.no-security-alerts {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -200px;
}

.no-security-alerts h1 {
  color: #777;
}

.stats {
  font-size: 1.5em;
  margin: 40px 0;
  text-align: center;
}
